.container {
    padding: 24px;
    height: calc(100vh - 48px);
    display: flex;
    flex-direction: row;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3)
    ),
    url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/2560px-Star_Wars_Logo.svg.png');
}

label {
    margin-top: 8px;
    font-weight: bold;
}

button {
    width: 100px;
    height: 32px;
    background-color: yellow;
    border-radius: 10px;
    cursor: pointer;
}

button[disabled] {
    background-color: gray;
}