.movies {
    width: 400px;
    color: yellow;
    height: 100%;
    border-right: 3px solid yellow;
}

.movies h1 {
    padding: 0 12px;
}

.movies .movie {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    font-size: 24px;
}

.movies .movie {
    text-decoration: none;
    color: white;
}

.movies .movie .movie-description-hidden {
    display: none;
}

.movies .movie .movie-description-visible {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}